<app-nav>cargando...</app-nav>
<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <!--Poniendo interporlacion, y generando evento click-->
        <button class="btn btn-primary"  (click)="visible = !visible" >{{visible}}</button>
        <p *ngIf="visible; else otroBloque">ahora soy visible ...</p>
        <ng-template #otroBloque>
            <p>Yo soy visible y me voy a ocultar..</p>
        </ng-template>
    </div>
 
    <div class="row">
        <ul>
            <li *ngFor="let car of cars; let i = index">{{i}} - {{car}}</li>
        </ul>
    </div>
    <div class="row">
        <ul>
            <li *ngFor= "let auto of autos" >{{auto | json}}</li>
        </ul>
    </div>
    <div class="row">
        <ul>
            <li *ngFor="let auto of autos" [ngStyle]="{backgroundColor: auto.total >0? "green" : "red" }">{{auto.nombre}}</li>
        </ul>
    </div>
</div>





